<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Plumeria ESL - Learn English in New York City! Lessons starting at $35 per hour</title>
	    {% load staticfiles %}
	<meta 
       name="description" 
       content="English Language Tutoring Service based in New York City, USA. Learn English at your own pace with one of our experienced tutors. Lessons start at $35 per hour."/>

    <meta
       name="keywords"
       content="English. Language, English Language, Teaching, Tutoring, learning, learn, tesol, toefl, ielts, rewards, plumerias, points, foreign language, new york, nyc, new york city, queens, manhattan, brooklyn, astoria, midtown, jersey, ny, immigration, green card, citizens, american, esl, plumeria, flower, school, tutor, teacher"/>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">        
        <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/typicons/typicons.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/css/form-elements.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/media-queries.css" %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static "assets/ico/favicon.png"%}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "assets/ico/apple-touch-icon-144-precomposed.png"%}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png"%}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png"%}">
        <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png"%}">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63540378-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Facebook Conversion Code for Contact Us widget -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6026454978776', {'value':'0.01','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026454978776&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

    </head>

    <body>
    
        <!-- Loader -->
    	<div class="loader">
    		<div class="loader-img"></div>
    	</div>
				
        <!-- Top content -->
        <div class="top-content">
        	
        	<!-- Top menu -->
			<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">Plumeria ESL</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="scroll-link" href="#pricing">Rates</a></li>
							<li><a class="scroll-link" href="#always-beautiful">About Plumeria</a></li>
							<li><a class="scroll-link" href="#about-us">Who are we</a></li>
							<li><a class="scroll-link" href="#contact-us">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</nav>
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1 class="wow fadeInLeftBig">Learn English with <strong>plumeria</strong></h1>
                            <div class="description wow fadeInLeftBig">
                            	                   	<p>
                            	<strong>Individual and group</strong> ESL sessions in New York City starting at $30 per hour offered to students of all ages! Use our contact us form to claim your free trial session today!
                            	</p>
                            	<h4>
	                            	The only language center that <strong>rewards you for learning!!</strong>
                            	</h4>
         
                            </div>
                            <div class="top-big-link wow fadeInUp">
                            	<a class="btn btn-link-1 scroll-link" href="#pricing">Our prices</a>
                            	<a class="btn btn-link-2 scroll-link" href="#always-beautiful">Learn more</a>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box wow fadeInUp">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Contact us</h3>
                        			{% if emailed %}
                        			<p><strong> Thank you! We will be in touch soon!</strong></p>
                        			{% else %}
                            		<p>Get a free trial lesson today</p>
                            		{% endif %}
                        		</div>
                        		<div class="form-top-right">
                        			<span aria-hidden="true" class="typcn typcn-pencil"></span>
                        		</div>
                            </div>
                            <div class="form-bottom subscribe wow fadeInUp">


							<form role="form" action="/signup" method="post">			                    					
							<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">First name</label>
			                    	    {% csrf_token %}

			                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">Last name</label>
			                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email" >Email</label>
			                        	<input type="text" name="form_email" placeholder="Email..." class="form-email form-control" id="form-email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-about-yourself">About yourself</label>
			                        	<textarea name="form-message" placeholder="About yourself..." 
			                        				class="form-about-yourself form-control" id="form-about-yourself"></textarea>
			                        </div>
			                        <button type="submit" class="btn">Get in touch!</button>
			                        <div class="form-links">
			                        	<a href="#" class="launch-modal" data-modal-id="modal-call">Other ways to get in touch!</a> - 
			                        </div>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- About-->
        <div class="always-beautiful-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
	                    <h2>About plumeria</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-7 always-beautiful-box wow fadeInLeft">
	                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
	                    	<h3>Get rewarded for learning!</h3>
	                    	<p class="medium-paragraph">
	                    	<span class="blue">Plumeria ESL</span>  is a tutoring center, which fulfills and focuses on the needs of the ESL learner. Whether you are a young learner or an adult learner, our teachers are there to help you succeed in learning English. We offer both one-to-one sessions on specific days (please refer to our "rates page"), but we also invite students to join our small group sessions, which helps enhance speaking and listening skills. 
	                    	</p>
	                    	<p>
	                    		We begin with a brief test to help us define your level and then immediately begin your English session!Our young learners program is filled with creative activities, in order to keep the child motivated and enthusiastic, while building their vocabulary, reading and writing skills. Adult learners are also taken on a fun adventure while learning, since they are exposed to multiple tasks, enhancing and building reading, writing, listening and speaking skills in the classroom! 
	                    	</p>
	                    	<p>
	                    	Plumeria is a flower that is capable of growing in different areas of the world, including Central America, Mexico, Brazil, South America and the Caribbean. What does this mean to Plumeria ESL? Well, the Plumeria flower is like an English learner; <strong>wherever you come from</strong>, you are capable of  growing and striving for excellence in the English language! We are here to make your learning experience, one to remember!
	                    	</p>
	                    </div>
	                </div>
	                <div class="col-sm-5 always-beautiful-box wow fadeInUp">
	                    <img src="{% static "assets/img/devices/pcplumeria.png"%}" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        
		<!-- Pricing -->
        <div class="pricing-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 pricing section-description wow fadeIn">
	                    <h2>Rates</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-sm-3 pricing-box wow fadeInUp">
                		<div class="pricing-box-inner">
		                	<div class="pricing-box-price"><span>$ </span><strong>30</strong><span> / 45 minutes</span></div>
		                    <h3>Online Session</h3>
		                    <h4>the remote</h4>
  							<div class="pricing-box-features">
		                    	<ul>
		                    		<li>Earn 23 Plumerias per lesson</li>
		                    	</ul>
		                    </div>
		                    <div class="pricing-box-sign-up">
		                    	<a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
		                    </div>
	                    </div>
                    </div>
                	<div class="col-sm-3 pricing-box wow fadeInUp">
                		<div class="pricing-box-inner">
		                	<div class="pricing-box-price"><span>$ </span><strong>50</strong><span> / 45 minutes</span></div>
		                    <h3>One-to-One</h3>
		                    <h4> the personal</h4>
		                    <div class="pricing-box-features">
		                    	<ul>
		                    		<li>Earn 25 Plumerias per lesson</li>
		                    	</ul>
		                    </div>
		                    <div class="pricing-box-sign-up">
		                    	<a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
		                    </div>
	                    </div>
                    </div>

                    <div class="col-sm-3 pricing-box pricing-box-best wow fadeInDown">
                    	<div class="pricing-box-inner">
		                	<div class="pricing-box-price">
		                		<span>$ </span><strong>1100</strong><span> / month</span>
		                		<div class="pricing-box-icon">
			                		<span aria-hidden="true" class="typcn typcn-star"></span>
			                	</div>
		                	</div>
		                    <h3>Ultimate</h3>
		                    <h4>the best value</h4>
		                    <div class="pricing-box-features">
		                    	<ul>
		                    		<li>Earn 27 Plumerias per hour</li>
		                    		<li>Pick 3 out of 6 weekly slots</li>
		                    		<li>Private 1-to-1 lessons</li>
		                    	</ul>
		                    </div>
		                    <div class="pricing-box-sign-up">
		                    	<a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
		                    </div>
		                </div>
                    </div>
                    <div class="col-sm-3 pricing-box wow fadeInUp">
                    	<div class="pricing-box-inner">
		                	<div class="pricing-box-price"><span>$ </span><strong>40</strong><span> / 45 minutes</span></div>
		                    <h3>Group Session</h3>
		                    <h4>the social</h4>
		                    <div class="pricing-box-features">
		                    	<ul>
		                    		<li>Earn 24 Plumerias per lesson</li>
		                    	</ul>
		                    </div>
		                    <div class="pricing-box-sign-up">
		                    	<a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
		                    </div>
		                </div>
                    </div>
	            </div>
	        </div>
        </div>
        
        <!-- Call to action -->
        <div class="call-to-action-container section-container section-container-image-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
	                    <h2>Plumeria Rewards</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>
	                    	Earn <strong>plumerias</strong> by attending classes, referring your friends and doing well at quizzes. Redeem for free lessons, stationary, clothing and other special Plumeria Rewards.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-12 section-bottom-button wow fadeInUp">
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Contact us now</a>
	            	</div>
	            </div>
	        </div>
        </div>
      <!-- About us -->
        <div class="about-us-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 about-us section-description wow fadeIn">
	                    <h2>About us</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6 about-us-box wow fadeInUp">
		                <div class="about-us-photo">
		                	<img src="{% static "assets/img/about/erato.png" %}" alt="" data-at2x="{% static "assets/img/about/erato.png"%}">
		                	<div class="about-us-role">Teaching Director</div>
		                </div>
	                    <h3>Erato</h3>
	                    <p>Erato has obtained a Bachelors degree in English from Queens College in NYC and was rewarded her Masters degree in Teaching English to Speakers of other Languages at the University of Glasgow in the UK. She has over three years experience in teaching English to ESL students of all ages.</p>
	                    <div class="about-us-social">
		                	<a href="https://www.facebook.com/erato.demetriou"><span class="typcn typcn-social-facebook"></span></a>
		                	<a href="https://www.linkedin.com/pub/erato-demetriou/79/a75/57a"><span class="typcn typcn-social-linkedin"></span></a>
		                </div>
	                </div>
	                <div class="col-sm-6 about-us-box wow fadeInDown">
		                <div class="about-us-photo">
		                	<img src="{% static "assets/img/about/mamas.jpg"%}" alt="" data-at2x="{% static "assets/img/about/mamas.jpg"%}">
		                	<div class="about-us-role">Operations</div>
		                </div>
	                    <h3>Mamas</h3>
	                    <p>Mamas has studied at the University of Glasgow and has a BSc in Computing Science. He has previously worked with companies like Kana Software Inc. and HSBC Global Banking and Markets.</p>
	                    <div class="about-us-social">
		                	<a href="https://www.linkedin.com/in/mamasnicolaou"><span class="typcn typcn-social-linkedin"></span></a>
		                    <a href="https://twitter.com/MamasNicolaou"><span class="typcn typcn-social-twitter"></span></a>
		                    <a href="https://plus.google.com/u/1/106709479164711609621/posts"><span class="typcn typcn-social-google-plus"></span></a>
		                </div>
	                </div>	
	            </div>
	        </div>
        </div>

        <!-- Footer -->
        <footer>
	        <div class="testimonials-container section-container section-container-gray-bg">
	        	<div class="row">
                    <div class="col-sm-12 footer-social">
                    	<a href="https://www.facebook.com/plumeriaesl"><span class="typcn typcn-social-facebook"></span></a>
                    	<a href="https://twitter.com/plumeriaesl"><span class="typcn typcn-social-twitter"></span></a>
                    	<a href="https://plus.google.com/u/1/b/112486878601849273279/112486878601849273279"><span class="typcn typcn-social-google-plus"></span></a>
                    </div>
	            </div>
	            <div class="row">
                    <div class="col-sm-12 footer-copyright">
                    	 <a href="http://plumeriaesl.com">&copy; 2015 Plumeria ESL</a>.
                    </div>
                </div>
	        </div>
        </footer>
        
        
        <!-- MODAL: Privacy policy -->
        <div class="modal fade" id="modal-call" tabindex="-1" role="dialog" aria-labelledby="modal-privacy-label" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h2 class="modal-title" id="modal-privacy-label">Get in touch!</h2>
        			</div>
        			<div class="modal-body">
        				<h3>Phone Numbers:</h3>
        				<p>
	                    	(863) 800-0375
	                    </p>
	                	<h3>Email Address:</h3>
	                	<p>
	                		learnenglish@plumeriaesl.com
	                	</p>
	                	<h3>Mailing Address:</h3>
	                	<p>
	                		4211 25th Avenue
	                		Queens, NYC 11103
	                	</p>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class="btn" data-dismiss="modal">Close</button>
        			</div>
        		</div>
        	</div>
        </div>
        
        <!-- MODAL: Frequent questions -->
        <div class="modal fade" id="modal-faq" tabindex="-1" role="dialog" aria-labelledby="modal-faq-label" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h2 class="modal-title" id="modal-faq-label">Frequent questions</h2>
        			</div>
        			<div class="modal-body">
        				<h3>1. Lorem ipsum dolor?</h3>
        				<p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                    <h3>2. Ut wisi enim ad minim?</h3>
	                    <p>
	                    	Ut wisi enim ad minim veniam, <a href="#">quis nostrud exerci tation</a> ullamcorper suscipit lobortis nisl ut aliquip ex ea 
	                    	commodo consequat nostrud tation.
	                    </p>
	                    <h3>3. Sed do eiusmod tempor?</h3>
	                    <p>
	                    	Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                    <h3>4. Nostrud exerci tation?</h3>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 
	                    	commodo consequat nostrud tation.
	                    </p>
	                    <h3>5. Consectetur adipisicing elit?</h3>
	                    <p>
	                    	Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class="btn" data-dismiss="modal">Close</button>
        			</div>
        		</div>
        	</div>
        </div>




        <!-- Javascript -->
        <script src="{% static "assets/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "assets/js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "assets/js/wow.min.js" %}"></script>
        <script src="{% static "assets/js/retina-1.1.0.min.js" %}"></script>
        <script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "assets/js/scripts.js" %}"></script>
<div style="line-height:16px;text-align:center;" hidden><script type="text/javascript" src="//s2.tracemyip.org/tracker/lgUrl.php?stlVar2=1207&amp;rgtype=4684NR-IPIB&amp;pidnVar2=72997&amp;prtVar2=2&amp;scvVar2=12"></script><div style="line-height:0px;"><a title="track people" href="http://www.tracemyip.org/"><img src="//log.tracemyip.org/tracker/script.gif" alt="track people" style="border:0px;"></a></div><noscript><img src="//s2.tracemyip.org/tracker/1207/4684NR-IPIB/72997/2/12/ans/" alt="track people" style="border:0px;"></noscript></div>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
<script type="text/javascript" data-cfasync="false">(function () { var done = false;var script = document.createElement('script');script.async = true;script.type = 'text/javascript';script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';document.getElementsByTagName('HEAD').item(0).appendChild(script);script.onreadystatechange = script.onload = function (e) {if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {var w = new PCWidget({ c: '208dd99f-f28a-4069-ab86-55ba1e012644', f: true });done = true;}};})();</script>
    </body>

</html>
